body{
    background-size: cover;
}
.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
#start, #number_of_objects, #status{
    font-size: 18px;
}
.copy_right_footer{
    position: fixed;
    text-align: center;
    bottom: 0px;
    background-color: grey;
    color: rgb(255, 255, 255);
    line-height: 3;
    white-space: 3px;
    width:100%;
}

canvas{
border-radius: 30px;
box-shadow: 5px 5px 5px grey;
border: 4px solid white;
margin-top: 60px;
}